@import url('https://fonts.googleapis.com/css2family=Inter:wght@400;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* - Weights: 400, 700, 800 */
body {
    font-family: 'Inter', sans-serif;
    max-width: 1440px;
    height: 100vh;
    margin: 2% 8% 8% 8%;
}

p {
    font-size: 15px;
    font-weight: 400;
    user-select: none;
}

:root {
    /* Cores primárias */
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    /* Cores Neutras */
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Darko-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

/* Cabecalho */

header {
    width: 100%;
    /* width: 1440px; */
    display: flex;
    align-items: center;
    margin: 0 0 4% 0;
}

.logo {
    float: left;
    width:  50%;
}

.logo > img {
    cursor: pointer
}

menu {
    float: right;
    width: 50%;
    list-style-type: none;
}

menu li {
    float: right;
    margin: 0 2%;
    cursor: pointer;
    color: var(--Darko-grayish-blue);
}

menu li:last-child {
    margin-right: 0;
}

.menu-icon {
    display: none;
}

/* Conteúdo principal */

main {
    float: left;
    width: 70%;
    margin-right: 0;
    padding-right: 0;
}

.main-img {
    width: 100%;
    margin: 0 0 2% 0;
}

.main-article h1 {
    float: left;
    width: 60%;
    font-size: 4em;
    color: var(--Very-dark-blue);
    font-weight: 800;
    line-height: 62px;
    user-select: none;
}

.main-article p {
    float: right;
    width: 40%;
    color: var(--Very-dark-blue);
    line-height: 28px;
}

main button {
    background-color: var(--Soft-red);
    border: none;
    padding: 1% 2%;
    font-size: 15px;
    color: var(--Off-white);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
    margin-top: 4%;
}