@import url('https://fonts.googleapis.com/css2family=Inter:wght@400;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* - Weights: 400, 700, 800 */
body {
    font-family: 'Inter', sans-serif;
    max-width: 1440px;
    height: 100vh;
    margin: 2% 8% 8% 8%;
}

p {
    font-size: 15px;
    font-weight: 400;
    user-select: none;
}

:root {
    /* Cores primárias */
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    /* Cores Neutras */
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Darko-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

/* Cabecalho */

header {
    width: 100%;
    /* width: 1440px; */
    display: flex;
    align-items: center;
    margin: 0 0 4% 0;
}

.logo {
    float: left;
    width:  50%;
}

.logo > img {
    cursor: pointer
}

menu {
    float: right;
    width: 50%;
    list-style-type: none;
}

menu li {
    float: right;
    margin: 0 2%;
    cursor: pointer;
    color: var(--Darko-grayish-blue);
}

menu li:hover {
    color: var(--Soft-red);
}

menu li:last-child {
    margin-right: 0;
}

.burguerMenu {
    display: none;
}

/* Conteúdo principal */

main {
    float: left;
    width: 74%;
    margin-right: 2%;
    margin-bottom: 3%;
    padding-right: 0;
}

.main-img {
    width: 100%;
    margin: 0 0 2% 0;
}

.main-article h1 {
    float: left;
    width: 60%;
    font-size: 4em;
    color: var(--Very-dark-blue);
    font-weight: 800;
    line-height: 62px;
    user-select: none;
}

h1, h2, h3 {
    user-select: none;
}

.main-article p {
    float: right;
    width: 40%;
    color: var(--Very-dark-blue);
    line-height: 28px;
}

main button {
    background-color: var(--Soft-red);
    border: none;
    padding: 1% 2%;
    font-size: 15px;
    color: var(--Off-white);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
    margin-top: 4%;
}

main button:hover {
    background-color: var(--Very-dark-blue);
}

/* Conteúdo lateral */

aside {
    background-color: var(--Very-dark-blue);
    color: var(--Off-white);
    padding: 2%;
    width: 24%;
    float: right;
    margin-left: 0;
    height: 415px;
}

article {
    clear: both;
}


aside h1 {
    color: var(--Soft-orange);
    font-size: 2em;
    padding: 0 .2% 9% 2%;
}

.aside-content h2 {
    font-size: 1.2em;
    margin-bottom: 4%;
} 

.aside-content h2:hover {
    color: var(--Soft-orange);
    cursor: pointer;
}

.aside-content p {
    font-weight: lighter;
}

hr {
    margin: 10% 0;
    outline: none;
    border-width: 0.2px;
}

/* Footer */

footer {
    margin-top: 5%;
    clear: both;
    /* background-color: aqua; */
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

footer .footer-content {
    display: flex;
    width: 30%;
}

/* footer .footer-content div.img img {
    width: 350px;
} */

.content {
    padding: 0 5% 5% 5%;
}

.content span {
    color: var(--Grayish-blue);
    font-size: 2em;
    font-weight: 700;
}

.content h1 {
    color: var(--Very-dark-blue);
    font-size: 1em;
    font-weight: 800;
    margin: 3% 3% 3% 0;
}
.content h1:hover {
    color: var(--Soft-red);
}

.content p {
    font-size: 14px;
    color: var(--Darko-grayish-blue);
    margin: 7% 0;
}

/* Mobile 375-tablepx */

@media screen and (max-width: 880px) {
    .logo img {
        width: 25%;
    }

    menu {
        position: fixed;
        top: 0;
        right: 0;
        background-color: var(--Off-white);
        width: 60%;
        height: 1500px;
        display: none; /*flex*/
        flex-direction: column;
        padding-top: 260px;
    }

    menu li {
        color: var(--Very-dark-blue);
        padding: 2%;
        margin-top: 5%;
        margin: 0 0 0 4%;
        font-size: 2em;
        font-weight: 400;
        width: fit-content;
    }

    menu li:not(.menu-icon):hover {
        color: var(--Soft-red);
    }

    .burguerMenu {
        position: fixed;
        right: 0;
        padding: 0 5% 0 0;
        cursor: pointer;
        display: block;
    }

    .closeMenu {
        position: fixed;
        right: 0;
        padding: 0 5% 0 0;
        cursor: pointer;
        display: block;
        display: none;
    }

    main {
        width: 100%;
    }

    .main-img {
        width: 100%;
        height: 200px;
        margin: 0 0 2% 0;
    }

    .main-article h1 {
        float: none;
        width: 100%;
        font-size: 1.9em;
        color: var(--Very-dark-blue);
        line-height: 30px;
        font-weight: 800;
    }

    .main-article h1 br {
        display: none;
    }

    .main-article p {
        float: none;
        width: 100%;
        color: var(--Very-dark-blue);
        font-size: 15px;
    }

    p br {
        display: none;
    }

    main button {
        background-color: var(--Soft-red);
        border: none;
        padding: 4% 4%;
        font-size: 9px;
        color: var(--Off-white);
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 4px;
        cursor: pointer;
        margin-top: 6%;
    }

    aside {
        background-color: var(--Very-dark-blue);
        color: var(--Off-white);
        float: left;
        width: 100%;
        height: 415px;
        margin: 10px 10px 25px 0;
    }

    footer {
        margin-top: 5%;
        /* background-color: aqua; */
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    
    footer .footer-content {
        width: 100%;
        margin: 10px 10px 10px 0;
    }
    
    /* footer .footer-content div.img img {
        width: 350px;
    } */
    
    .content {
        padding: 0 5% 5% 5%;
    }
    
    .content span {
        color: var(--Grayish-blue);
        font-size: 2em;
        font-weight: 700;
    }
    
    .content h1 {
        color: var(--Very-dark-blue);
        font-size: 1em;
        font-weight: 800;
        margin: 3% 3% 3% 0;
    }
    .content h1:hover {
        color: var(--Soft-red);
    }
    
    .content p {
        font-size: 14px;
        color: var(--Darko-grayish-blue);
        margin: 7% 0;
    }
}